@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Style */
body {
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
}

#main-header {
  box-shadow: 8px 5px 5px #ada996;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-bar {
  /* border: 2px solid black; */
  /* width: 100%; */
  min-height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-bar-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 10px;
  margin: 0 10px;
  list-style-type: none;
  text-decoration: none;
}

.nav-list-point > a {
  /* list-style-type: none; */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;

  transition: text-shadow 0.6s linear 0s;
}

.nav-list-point > a:hover {
  text-shadow: 3px 4px 4px grey;
}

#logo {
  padding: 5px;
  margin: 0 10px;
}

#logo-head {
  font-family: "Michroma", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: xx-large;
}

#logo-small-text {
  font-size: 0.85rem;
}

/* main body */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

#main-body-1 {
  height: 90vh;
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  height: 59vh;
  width: 52vw;
}

form {
  height: inherit;
  width: inherit;
}

.main-form-container {
  height: inherit;
  width: inherit;
  display: grid;
  gap: 1rem;

  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);

  padding: 10px;
}

.selector-div {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
}

.selector {
  height: 2rem;
  width: 13rem;
  border-radius: 8px;

  transition: box-shadow 0.6s linear 0s ;
  box-shadow: 3px 4px 0px 0px black;

  padding: 0 10px;

}


.selector:hover{
    box-shadow: 10px 10px 10px rgb(89, 89, 89);
}



/* #selector-7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#selector-8{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
} */

#submit-button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.btn{
    width: 7rem;
    height: 2.5rem;
    border-radius: 10px;

}


/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}